<footer class="flex justify-center border-t-2 border-black">
    <div class="flex justify-center w-full max-w-[1440px] my-5">
        <p>Exercice Symfony fait par <a class="hover:underline" href="https://github.com/cmadoka2003">Christopher Madoka</a></p>
    </div>
</footer>